mixin forgotForm()
    form.form(action="/account/forgot" method="POST")
        h2 Forgot Your Password?
        label(for="email") Email
        input(for="email" name="email")
        input.button(type="submit" value="Send A Reset")